<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersistenciaWithSQL.Properties.Settings.EscolaConnectionString"
            connectionString="Data Source=DESKTOP-C6TR273\SQLEXPRESS;Initial Catalog=Escola;Persist Security Info=True;User ID=sa;Password=Senha@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>