<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersistenciaWithSQL.Properties.Settings.EscolaConnectionString"
            connectionString="Data Source=ISAAC-PC\ISAACMDRS;Initial Catalog=Escola;Persist Security Info=True;User ID=sa;Password=senha"
            providerName="System.Data.SqlClient" />
        <add name="PersistenciaWithSQL.Properties.Settings.EscolaConnectionString1"
            connectionString="Data Source=ISAAC-PC\ISAACMDRS;Initial Catalog=Escola;User ID=sa;Password=senha"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>